body {
    font-family:"Roboto Condensed", sans-serif;
}
div {
    width: 600px;
    height: 500px;
    margin: 20px auto;
}
img {
    width: 100%;
}
.inlane {
    display: inline;
}
.comments {
    padding-right: 20px;
}
.block {
    width: 50px;
    display: block;
    padding: 10px 40px;  
    border: 2px solid #fedf38;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
p {
    color: #929292;
}
h1 {
    font-family: "Teko", sans-serif;
}