body {
    background-color: #f8f9fd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3 {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 150px;
    text-align: left;
    /* width: 100%; */
    width: auto;
    margin: 0 auto;
}

thead {
    background: #3d89f7;
    color: white;
    border-top: 1px solid #2863b6;
    border-left: 1px solid #2863b6;
    border-right: 1px solid #2863b6;
}

tr {
    height: 55px;
    
}

td {
    width: 200px;
    background-color: white;
    border-bottom: 4px solid #f8f9fd;
}

.nr {
    font-weight: bold;
    width: 120px;
    padding-left: 30px;
}

.email {
    width: 400px;
}
