body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.nav,
.main,
.footer
 {
    background-color: black;
    color: white;
}


.nav {
    display:flex;
    padding: 15px;
    justify-content: center;
    gap: 100px;
    
}

.main {
    width: 800px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    justify-content: center;
    margin-top: 40px;

}

.korteliuDiv{
    display:flex;
    gap: 15px;
    margin: 30px;
}

.kortele {
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 10px;
}
p {
    margin: 5px;
}

h1 {
    margin-top: 20px;
}

.kortele h6 {
    margin: 0;

}

.kortele p {
    margin-top: 20px;
    margin-bottom: 0;
}
img { 
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px 0;
}

a {
    margin: 20px 0;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #905dde;
}
.nav a {
    color: white;
}

.background {
    background: url(https://static.vecteezy.com/system/resources/previews/025/401/952/non_2x/blue-ice-cream-pattern-background-seamless-repeating-wallpaper-vector.jpg);
}
